# Python
venv/
.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/

# Env / secrets locais
.env
.env.local
*.pem

# Java
api-java/target/
*.class

# Node
node_modules/
dist/
build/

# IDE / OS
.DS_Store
.idea/
.vscode/
*.swp
*~

# Jupyter
.ipynb_checkpoints/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
crash.*.log
*.tfvars
!*.tfvars.example
